@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar,
.scroll-style::-webkit-scrollbar {
    width: 7px;
    background-color: white;
}

body::-webkit-scrollbar-thumb,
.scroll-style::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 50px;
    background-color: #1E293B;
    box-shadow: inset 0px 0px 2px white;
}

body {
    user-select: none;
}

/* Header Style */
.hiddenbox {
    top: -80px;
}

/* Loading Style */
#loader {
    width: 40px;
    aspect-ratio: 1;
    --c: linear-gradient(#fff 0 0);
    --m: radial-gradient(farthest-side, #fff 92%, #0000);
    background:
        var(--c), var(--m),
        var(--c), var(--m),
        var(--c), var(--m);
    background-size: 8px 15px, 8px 8px;
    background-repeat: no-repeat;
    animation: l14 1s infinite alternate;
}

@keyframes l14 {

    0%,
    10% {
        background-position: 0 0, 0 100%, 50% 0, 50% 100%, 100% 0, 100% 100%
    }

    33% {
        background-position: 0 100%, 0 0, 50% 0, 50% 100%, 100% 0, 100% 100%
    }

    66% {
        background-position: 0 100%, 0 0, 50% 100%, 50% 0, 100% 0, 100% 100%
    }

    90%,
    100% {
        background-position: 0 100%, 0 0, 50% 100%, 50% 0, 100% 100%, 100% 0
    }
}